<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <customErrors mode="Off"/>
    <httpRuntime/>
  </system.web>
</configuration>
<!--ProjectGuid: {68d6502a-3502-4e46-93af-d6e2e478baa6}-->